@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    background-image: url(./img/seamless-pattern-white-pink-stripes_637480-1103.avif);
    justify-items : center;
    margin-top: 50px;

}
body h2{
    font-family: "Jua", sans-serif;
    color: #8D444D;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);;
}
#studentForm{
    border-right:5px solid #8D444D ;
    border-left:5px solid #8D444D ;
    border-bottom:5px solid #8D444D ;
    padding: 50px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #F7E5E1;
}


input {
    width: 300px;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 3px solid #8D444D;
    border-radius: 20px;
    box-sizing: border-box;
}
label{
    font-family: "Jua", sans-serif;
    font-size: 20px;
    color: #8D444D;
}

.btn{
    background-color: #8D444D;
    color: white;
    padding: 10px 15px;
    margin: 5px 0 22px 0;
    border: none;
    width: 300px;
    font-family: "Jua", sans-serif;
}
.edit-btn,.delete-btn{
    background-color: #dfaac0;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: "Jua", sans-serif;
}
#average{
    padding: 4px;
    align-items: center;
    background-color: #f5b0bb;
    width:392px;
    height: 50px;
    border-top: 5px solid #8D444D;
    border-left: 5px solid #8D444D;
    border-right: 5px solid #8D444D;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

#average h2{
    background-color: #f999a9;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    height: 15px;
    width: 300px;
    font-family: "Jua", sans-serif;
}

#studentsTable{
    border: 5px solid #8D444D;
    background-color: #F7E5E1;
    padding: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff0f5;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

th {
    background-color: #ffcad4;
    color: #464545;
    padding: 10px;
    text-align: center;
    font-family: "Jua", sans-serif;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background-color: #ffe5ec;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #8D444D;
}

.edit-btn:hover {
    background-color: #8D444D;
}